KAGGLE_USERNAME=seu_user
KAGGLE_KEY=sua_key
KAGGLE_DATASET=mlg-ulb/creditcardfraud
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minio_root_user
MINIO_ROOT_PASSWORD=minio_root_password
MINIO_BUCKET=aws-ml-lens
